<form id="update-product-form">
    <input type="hidden" name="id" value="{{_id}}">
    <input type="text" name="title" value="{{title}}" required>
    <input type="number" name="price" value="{{price}}" required>
    <input type="number" name="stock" value="{{stock}}" required>
    <input type="file" name="file">
    <button type="submit">Actualizar Producto</button>
</form>

<script src="/static/js/update-product.js"></script>
